In [2]:
#Q1 Modify the first item (22) of a list inside a following tuple to 222
#tuple1 = (11, [22, 33], 44, 55)


tuple1 = (11, [22, 33], 44, 55)
tuple1[1][0] = 222
print(tuple1)

(11, [222, 33], 44, 55)

In [5]:
 #Q2Count the number of occurrences of item 50 from a tuple
#tuple1 = (50, 10, 60, 70, 50)

tuple1 = (50, 10, 60, 70, 50)
print(tuple1.count(50))

2

In [ ]:
#Q3Write a Python program to convert a list to a tuple